LUMU_Dashboard/n8n_workflows/budget_optimizer_agent.json
{
  "name": "LUMU Budget Optimizer Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 4 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:5000/api/budget/allocation",
        "options": {}
      },
      "id": "fetch-allocation",
      "name": "Fetch Current Allocation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:5000/api/campaigns/all",
        "options": {}
      },
      "id": "fetch-campaigns",
      "name": "Fetch Campaign Performance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 500]
    },
    {
      "parameters": {
        "jsCode": "const allocation = $('Fetch Current Allocation').first().json;\nconst campaigns = $('Fetch Campaign Performance').first().json;\n\nconst recommendations = [];\n\n// Analyze ROAS by platform\nconst platformPerformance = {};\n\nif (campaigns.meta) {\n  let totalSpend = 0, totalRevenue = 0;\n  for (const c of campaigns.meta) {\n    totalSpend += c.spend || 0;\n    totalRevenue += (c.conversions || 0) * 4500; // avg order value\n  }\n  platformPerformance.meta = { roas: totalRevenue / totalSpend, spend: totalSpend };\n}\n\nif (campaigns.google) {\n  let totalSpend = 0, totalRevenue = 0;\n  for (const c of campaigns.google) {\n    totalSpend += c.spend || 0;\n    totalRevenue += (c.conversions || 0) * 4500;\n  }\n  platformPerformance.google = { roas: totalRevenue / totalSpend, spend: totalSpend };\n}\n\n// Generate recommendations\nfor (const [platform, perf] of Object.entries(platformPerformance)) {\n  if (perf.roas > 4) {\n    recommendations.push({\n      type: 'increase',\n      platform: platform === 'meta' ? 'Meta Ads' : 'Google Ads',\n      reason: `High ROAS of ${perf.roas.toFixed(1)}x detected`,\n      suggestion: 'Increase budget by 20%',\n      priority: 'high'\n    });\n  } else if (perf.roas < 2) {\n    recommendations.push({\n      type: 'decrease',\n      platform: platform === 'meta' ? 'Meta Ads' : 'Google Ads',\n      reason: `Low ROAS of ${perf.roas.toFixed(1)}x detected`,\n      suggestion: 'Decrease budget by 15%',\n      priority: 'medium'\n    });\n  }\n}\n\n// Day/Night analysis\nconst currentHour = new Date().getHours();\nconst isNight = currentHour >= 18 || currentHour < 6;\n\nif (isNight && allocation.dayNight?.night?.roas > allocation.dayNight?.day?.roas) {\n  recommendations.push({\n    type: 'shift',\n    platform: 'All',\n    reason: 'Night performance is 60% better',\n    suggestion: 'Shift 30% budget to night hours',\n    priority: 'high'\n  });\n}\n\nreturn recommendations.map(r => ({ json: r }));"
      },
      "id": "analyze-performance",
      "name": "AI Analyze Performance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-recommendations",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-recommendations",
      "name": "Has Recommendations?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [940, 400]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "alert-message",
              "name": "alertMessage",
              "value": "=🤖 LUMU BUDGET AI AGENT\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n📊 Recommendation Type: {{ $json.type.toUpperCase() }}\n📢 Platform: {{ $json.platform }}\n\n💡 Analysis:\n{{ $json.reason }}\n\n✅ Suggestion:\n{{ $json.suggestion }}\n\n⚡ Priority: {{ $json.priority.toUpperCase() }}\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nReply 'APPLY' to implement this change\n\nLUMU AI Dashboard",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-message",
      "name": "Format Recommendation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1180, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.alertMessage }}",
        "additionalFields": {}
      },
      "id": "send-telegram",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1420, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:5000/api/insights",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "={{ $json.type }}"
            },
            {
              "name": "platform",
              "value": "={{ $json.platform }}"
            },
            {
              "name": "message",
              "value": "={{ $json.suggestion }}"
            },
            {
              "name": "priority",
              "value": "={{ $json.priority }}"
            },
            {
              "name": "source",
              "value": "budget-optimizer-agent"
            }
          ]
        },
        "options": {}
      },
      "id": "log-insight",
      "name": "Log to Insights API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1420, 500]
    },
    {
      "parameters": {},
      "id": "no-action",
      "name": "No Changes Needed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1180, 500]
    }
  ],
  "connections": {
    "Every 4 Hours": {
      "main": [
        [
          {
            "node": "Fetch Current Allocation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Campaign Performance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Current Allocation": {
      "main": [
        [
          {
            "node": "AI Analyze Performance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Campaign Performance": {
      "main": [
        [
          {
            "node": "AI Analyze Performance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analyze Performance": {
      "main": [
        [
          {
            "node": "Has Recommendations?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Recommendations?": {
      "main": [
        [
          {
            "node": "Format Recommendation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Changes Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Recommendation": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log to Insights API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "LUMU",
      "createdAt": "2026-01-10T00:00:00.000Z",
      "updatedAt": "2026-01-10T00:00:00.000Z"
    },
    {
      "name": "AI Agent",
      "createdAt": "2026-01-10T00:00:00.000Z",
      "updatedAt": "2026-01-10T00:00:00.000Z"
    },
    {
      "name": "Budget",
      "createdAt": "2026-01-10T00:00:00.000Z",
      "updatedAt": "2026-01-10T00:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-01-10T00:00:00.000Z",
  "versionId": "1"
}
